{% extends "base.html" %}
{% block head_script %}
    <!-- Script to toggle account inputs, and new buttons, when the user presses the edit button-->
    <script>
        function ToggleInputs() {
            let name = document.getElementById("name");
            let surname = document.getElementById("surname");
            let email = document.getElementById("email");
            let password = document.getElementById("password");
            let username = document.getElementById("username");

            let elements = [name, surname, email, password, username]
            elements.forEach(element => {
                element.disabled = !element.disabled
            });
            document.getElementById("cancelBtn").style.visibility = elements[0].disabled ? "collapse" : "visible";
            document.getElementById("editBtn").style.visibility = elements[0].disabled ? "visible" : "collapse";
            document.getElementById("submitBtn").style.visibility = elements[0].disabled ? "collapse" : "visible";

        }
    </script>
{% endblock %}
{% block title %}Account{% endblock %}
{% block home_active %}{% endblock %}
{% block account_active %}active{% endblock %}
{% block main_search %}{% endblock %}
{% block content %}
    <h1><a class="link text-primary" href="{{ url_for('account') }}">Account</a></h1>
    <br>

    <br>
    <!-- User(ID,Username, Email, Password, Firstname, Lastname) - View and Edit Account -->
    <div class="p-4">
        <form action="{{ url_for('account') }}" method="post">
            <div class="input-group mb-3">
                <input id="name" type="text" name="name" class="form-control"
                       value="{{ user['Firstname'] }}" required disabled>
            </div>
            <div class="input-group mb-3">
                <input id="surname" type="text" name="surname" class="form-control"
                       value="{{ user['Lastname'] }}" required disabled>
            </div>
            <div class="input-group mb-3">
                <input id="email" type="email" name="email" class="form-control"
                       value="{{ user['Email'] }}" required disabled>
            </div>
            <div class="input-group mb-3">
                <input id="username" type="text" name="username" class="form-control"
                       value="{{ user['Username'] }}" required disabled>
            </div>
            <div class="input-group mb-3">
                <input id="password" type="password" name="password" class="form-control"
                       value="{{ user['Password'] }}" required disabled>
            </div>
            <div class="text-center">
                <button id="editBtn" type="button" onclick="ToggleInputs()"
                        class="btn btn-primary text-center mt-2">
                    Edit
                </button>
            </div>
            <button style="visibility: collapse;" id="cancelBtn" type="button"
                    onclick="window.location.reload();" class="btn btn-danger text-center mt-2">
                Cancel
            </button>
            <button style="visibility: collapse;" id="submitBtn" type="submit"
                    class="btn btn-primary text-center mt-2">
                Submit Changes
            </button>
        </form>
    </div>

    <!-- List User's search history -->
    <div class="p-4">
        <h3 class="text-info">Search History</h3>
        <ul class="list-group">
            {% for word in searched_words %}
                <li class="list-group-item">
                    {{ word["Content"] }}
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- List User's saved words -->
    <div class="p-4">
        <h3 class="text-info">Saved Words</h3>
        <ul class="list-group">
            {% for word in saved_words %}
                <li class="list-group-item">
                    {{ word["Content"] }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}