venv/

*.pyc
dictionary_app/__pycache__/

dictionary_app/instance/

dictionary_app/.pytest_cache/
dictionary_app/.coverage
dictionary_app/htmlcov/

dictionary_app/dist/
dictionary_app/build/
dictionary_app/*.egg-info/
dictionary_app/.idea/sqldialects.xml
dictionary_app/.idea/dataSources.xml
dictionary_app/.idea/jsLibraryMappings.xml
.idea/dataSources.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/dictionary-flask-fork.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/sqldialects.xml
.idea/vcs.xml
dictionary_app/.idea/dataSources.local.xml
dictionary_app/.idea/dataSources/d6b5a921-4a03-47c0-a571-4425cc5b3a54.xml
dictionary_app/.idea/workspace.xml
