h1 {
    text-align: center;
}

.link {
    text-decoration: none;
    color: black;
}

.div {
    width: 80%;
    height: 450px;
    border: 35px solid #c4c4c4;
    margin: auto;
    border-radius: 15px;
    background-color: #c4c4c4;
    text-align: left;
}

body {
    font-family: "Inter", sans-serif;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    width: 100px;
    line-height: 26px;
    margin-bottom: 10px;
}

#formWord {
    display: inline-block;
}